Source: squashfs-tools
Section: kernel
Priority: optional
Maintainer: Daniel Baumann <daniel@lists.debian-maintainers.org>
Uploaders:
 Daniel Baumann <daniel@debian.org>,
 Otavio Salvador <otavio@debian.org>
Build-Depends: debhelper (>= 7.0.50~), quilt (>= 0.46-7), zlib1g-dev
Standards-Version: 3.8.4
Homepage: http://squashfs.sourceforge.net/
Vcs-Browser: http://git.debian-maintainers.org/?p=daniel/squashfs-tools.git
Vcs-Git: git://git.debian-maintainers.org/git/daniel/squashfs-tools.git

Package: squashfs-tools
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Tool to create and append to squashfs filesystems
 Squashfs is a highly compressed read-only filesystem for Linux. It uses zlib
 compression to compress both files, inodes and directories. Inodes in the
 system are very small and all blocks are packed to minimise data overhead.
 Block sizes greater than 4K are supported up to a maximum of 64K.
 .
 Squashfs is intended for general read-only filesystem use, for archival use
 (i.e. in cases where a .tar.gz file may be used), and in constrained block
 device/memory systems (e.g. embedded systems) where low overhead is needed.

Package: squashfs-tools-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, squashfs-tools (= ${binary:Version})
Description: Tool to create and append to squashfs filesystems (debug)
 Squashfs is a highly compressed read-only filesystem for Linux. It uses zlib
 compression to compress both files, inodes and directories. Inodes in the
 system are very small and all blocks are packed to minimise data overhead.
 Block sizes greater than 4K are supported up to a maximum of 64K.
 .
 This package contains the debugging symbols.
